{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block cabecalho %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/menu.css' %}">
		<meta charset="UTF-8">
		<title>Receitas do Dia</title>
		{% endblock %}
	</head>
	<body>
	    <div class="page-header">
	    	<a href="{% url 'nova_receita' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	        <h1><a href="/">Receitas do Dia</a></h1>
	    </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
	    </div>
	</body>
</html>